@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-menu {
	@apply min-w-[41%] whitespace-nowrap overflow-hidden gap-2 py-2 bg-[#F2F2F2] rounded-3xl;
}

.fixed-menu .ant-menu-item {
	@apply flex justify-center items-center gap-0 h-10 rounded-3xl !important;
	padding: 0 30px;
}

@media (max-width: 768px) {
	.fixed-menu {
		@apply justify-start;
	}

	.fixed-menu .ant-menu-item {
		@apply px-10;
	}
}
.fixed-menu .ant-menu-item-selected,
.fixed-menu .ant-menu-item-active {
	@apply text-white !important;
	background-color: #1a1b21 !important;
}

.fixed-menu .ant-menu-item::after {
	border-bottom: none !important;
}

@media (max-width: 1282px) {
	.fixed-menu {
		@apply pr-2;
	}
}
@media (max-width: 1318) {
	.fixed-menu {
		@apply pr-4 w-60 gap-3 bg-red-500 !important;
	}
}

.fixed-menu .ant-menu-item:hover {
	background-color: #1a1b21 !important;
	color: #ffffff !important;
}

._shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: black;
	background: white;
}

.ant-carousel .slick-dots{
  position: relative;
  top: 20px;

}

.ant-carousel .slick-dots li button {
  background: #7d7d7d; 
}

.ant-carousel .slick-dots li.slick-active button {
  background: #000000;
}
.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #000000 #e0e0e0; /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #3a7bd5;
}
.ant-menu-item-selected {
    background-color: #091e6a !important;
    color: #fff !important;
}
.ant-menu-item:hover {
    background-color: #091e6a4a !important;
    color: #091e6a !important;
}
.ant-menu-item-selected:hover {
    background-color: #091e6a !important;
    color: #fff !important;
	color: rgba(255, 193, 7, 0.532);
}
